@font-face {
  font-family: 'Monserrat-Light';
  src: url('../public/fonts/Monserrat-Light/Montserrat-Light.eot'); /* IE9 Compat Modes */
  src: url('../public/fonts/Monserrat-Light/Montserrat-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../public/fonts/Monserrat-Light/Montserrat-Light.woff2') format('woff2'), /* Super Modern Browsers */
      url('../public/fonts/Monserrat-Light/Montserrat-Light.woff') format('woff'), /* Pretty Modern Browsers */
      url('../public/fonts/Monserrat-Light/Montserrat-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
      url('../public/fonts/Monserrat-Light/Montserrat-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Monserrat-Regular';
  src: url('../public/fonts/Monserrat-Regular/Montserrat-Regular.eot'); /* IE9 Compat Modes */
  src: url('../public/fonts/Monserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../public/fonts/Monserrat-Regular/Montserrat-Regular.woff2') format('woff2'), /* Super Modern Browsers */
      url('../public/fonts/Monserrat-Regular/Montserrat-Regular.woff') format('woff'), /* Pretty Modern Browsers */
      url('../public/fonts/Monserrat-Regular/Montserrat-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
      url('../public/fonts/Monserrat-Regular/Montserrat-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Monserrat-Medium';
  src: url('../public/fonts/Monserrat-Medium/Montserrat-Medium.eot'); /* IE9 Compat Modes */
  src: url('../public/fonts/Monserrat-Medium/Montserrat-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../public/fonts/Monserrat-Medium/Montserrat-Medium.woff2') format('woff2'), /* Super Modern Browsers */
      url('../public/fonts/Monserrat-Medium/Montserrat-Medium.woff') format('woff'), /* Pretty Modern Browsers */
      url('../public/fonts/Monserrat-Medium/Montserrat-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
      url('../public/fonts/Monserrat-Medium/Montserrat-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}
body {
  font: 16px 'Monserrat-Light', sans-serif;
  color: #444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 840px;
  margin: auto;
}

a {
  color: #444;
}

.mb-16 {
  margin-bottom: 16px;
}

.link {
  font-family: 'Monserrat-Medium', sans-serif;
}

.main-title {
  font: 24px 'Monserrat-Medium', sans-serif;
}

@media only screen and (max-width: 600px) {
  .container {
    width: auto;
  }

  img {
    width: auto;
    max-width: 100%;
  }
}